body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*My added CSS below*/
body{/*main page color and font*/
    font-family: 'Pontano Sans', sans-serif;
    background-color: #E2E5DA;
}
.navbar-default{
    font-size: 30px;
    background-color: #39375B;
    
}
.navbar-default .navbar-brand{
    color: #E8E8E8;
}
.navbar-default .navbar-brand:hover{/*different color for mouse hover*/
    color: #EF73E1; 
}
.navbar-default{
    border: none;
}
.thumbnail{/*Home page thumbnail sizes*/
    margin-top: 300px;
    margin-bottom: 50px;
    margin-left: 30px;
}
.dropdown-menu{
    margin-right: 10px;
}
h1 h2{
    font-family: 'Pontano Sans', sans-serif;
}
.h2{
    margin-left: 50px;
}
h3{
    font-family: 'Pontano Sans', sans-serif;
}
.btn-group{
    
}
.btn-default{
    margin-right: 5px;
    margin-left: 5px;
    background-color: #F4F4F4;
    border-top-left-radius: 5px;
}
.img-home{
    width:  1500px;
    height: 650px;
    position: fixed;
    float: left;
    margin-left:-140px;
}
.main-words{/*Text over picture on home page*/
    font-size: 50px;
    color: #E8E8E8;
    position: absolute;
    z-index:100;
    padding-left: 180px;
    padding-top: 95px;
}
.large-text{
    font-size: 100px;
}
.img-thumbnail{/*restricts the user input photos to a small, uniform thumbnail size*/
    width: 80px;
    height: 80px;
}
/*make rotated text on all pages*/
.one{/*Update*/
    color: #39375B;
    opacity: 0.6;
    font-size: 130px;
    font-family: 'La Belle Aurore', cursive;
    -ms-transform: rotate(14deg); /* IE 9 */
    -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */
    transform: rotate(14deg);
    top: 130px;
    right:50px;
    position:absolute;
    z-index: -1;/*bottom layer so that it doesn't cover any buttons it might overlap with */
}
.two{/*your*/
    color: #39375B;
    font-size: 130px;
    opacity: 0.6;
    font-family: 'La Belle Aurore', cursive;
    -ms-transform: rotate(14deg); /* IE 9 */
    -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */
    transform: rotate(14deg);
    top: 230px;
    right:125px;
    position:absolute;
    z-index: -1;
}
.three{/*wardrobe.*/
    color: #39375B;
    font-size: 130px;
    opacity: 0.6;
    font-family: 'La Belle Aurore', cursive;
    -ms-transform: rotate(14deg); /* IE 9 */
    -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */
    transform: rotate(14deg);
    top: 350px;
    right:50px;
    position:absolute;
    z-index: -1;
}
a{/*no decoration for link text*/
    color: #39375B;
    text-decoration: none;
    font-size: 16px;
}
a:hover{ /*button links show pink when hovered over*/
    color: #EF73E1;
    text-decoration: none;
}
/*copied the following path from inspect element so I could get rid of the table line. Didn't work when it was any shorter */
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td{
    border-top: none;
}
.table{/*shorter width of table for each page*/
    width: 70%;
}
.author{/*styling next to glyphicon at bottom of home page*/
    color:#39375B;
    font-size: 19px;
    font-family: 'La Belle Aurore', cursive;
    position:relative;
    z-index:100;
}
.modal-content{/*styling for modal delete confirmation on all delete pages*/
    font-family: 'Pontano Sans', sans-serif;
    font-size: 18px;
    text-align:center;
    padding-top: 10px;
}

