@{
    ViewBag.Title = "Home Page";
}
<link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
<body>
    <img class="img-home" src="http://viakatherine.com/wp-content/uploads/2015/02/20150201-katherine-shea-closet-full-wardrobe.jpg" alt="Hanging Shirts" />
    <div class="main-words">
        <h1 class="large-text">WP: </h1>
        <h3>Organize your life, one outfit at a time.</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://fashiongum.com/wp-content/uploads/2015/06/Aviator-Sunglasses-For-Women-2.jpg" alt="Accessories">
                    <div class="caption">
                        <h3>A Better Way to Choose Outfits</h3>
                        <p>See all you can do with Wardrobe Picker!</p>
                        <button type="button" class="btn btn-default" style="font-size: 18px;">@Html.ActionLink("Update Accessories", "Index", "Accessories")</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://cashbackrewards.today/wp-content/uploads/2015/06/shoes.jpg" alt="Shoes">
                    <div class="caption">
                        <h3>Have Too Many Shoes?</h3>
                        <p>Know what's in your closet, even if you can't find it!</p>
                        <button type="button" class="btn btn-default" style="font-size: 18px;">@Html.ActionLink("Add New Shoes", "Create", "Shoes")</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://s-media-cache-ak0.pinimg.com/736x/19/e5/5e/19e55ea0bf59f478a8a176f283382124.jpg" alt="Shirt">
                    <div class="caption">
                        <h3>Keep Track of All Your Clothes</h3>
                        <p>See how you can track of all your clothes in one place.</p>
                        <button type="button" class="btn btn-default" style="font-size: 18px;">@Html.ActionLink("View Tops", "Index", "Tops")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>